---
import Breadcrumb from '~/components/Breadcrumb.astro'
import PostContent from '~/components/PostContent.astro'
import PrevNext from '~/components/PrevNext.astro'
import { books, shengLvQiMeng } from '~/config/books'
import { Books } from '~/config/site'
import Layout from '~/layouts/Layout.astro'
import { pervNext } from '~/supports'
import type { PoetryItem } from '~/types'
import { combine } from '~/utils'

export interface Props {
  post: PoetryItem
  index: number
  chapter: string
}

interface RouteItem {
  params: { id: string }
  props: Props
}

export function getStaticPaths() {
  const res: RouteItem[] = []
  let index = 0
  for (let i = 0; i < shengLvQiMeng.content.length; i++) {
    const { title, content } = shengLvQiMeng.content[i]
    for (let j = 0; j < content.length; j++) {
      const post = content[j]
      res.push({
        params: { id: post.id },
        props: { post, index, chapter: title },
      })
      index++
    }
  }
  return res
}

const { title, id } = books[Books.shenglvqimeng]

const { post, chapter } = Astro.props

const { title: postTitle, paragraphs } = post.traditional

const { prev, next } = pervNext(
  getStaticPaths(),
  Astro.props.index,
  ({ params, props }) => ({
    text: `${props.chapter}・${props.post.title}`,
    link: combine(id, params.id),
  }),
)
---

<Layout title={`${postTitle} | ${title}`}>
  <div class="py-6 px-5 md:px-10 pb-20">
    <Breadcrumb
      list={[{ text: title, active: true, link: `/${id}` }, { text: chapter }]}
    />
    <div class="pb-4">
      <h3 class="text-2xl font-bold text-brand mt-10 mb-6 text-center">
        {postTitle}
      </h3>
      <PostContent content={paragraphs} indent />
    </div>
    <PrevNext {prev} {next} />
  </div>
</Layout>
