---
import Breadcrumb from '~/components/Breadcrumb.astro'
import PostContent from '~/components/PostContent.astro'
import PrevNext from '~/components/PrevNext.astro'
import datas from '~/database/guwenguanzhi.json'
import Layout from '~/layouts/Layout.astro'
import { getPoetriesConfig, pervNext } from '~/supports'
import type { GuWenGuanZhiContent } from '~/types'
import { slugify } from '~/utils'

export interface Props {
  post: GuWenGuanZhiContent
  index: number
  chapter: string
}

interface RouteItem {
  params: { title: string }
  props: Props
}

export function getStaticPaths() {
  const res: RouteItem[] = []
  let index = 0
  for (let i = 0; i < datas.content.length; i++) {
    const { title, content } = datas.content[i]
    for (let j = 0; j < content.length; j++) {
      const post = content[j]
      res.push({
        params: {
          title: slugify(title, post.chapter),
        },
        props: { post, index, chapter: title },
      })
      index++
    }
  }
  return res
}

const poetry = getPoetriesConfig('gu-wen-guan-zhi')!

const { title, id } = poetry
const { post, chapter } = Astro.props

const { prev, next } = pervNext(
  getStaticPaths(),
  Astro.props.index,
  ({ params, props }) => ({
    text: `${props.chapter}・${props.post.chapter}`,
    link: `/${id}/${params.title}`,
  }),
)
---

<Layout title={`${post.chapter} | ${title}`} navFixed>
  <div class="py-6 px-5 md:px-10 pb-20">
    <Breadcrumb
      list={[{ text: title, active: true, link: `/${id}` }, { text: chapter }]}
    />
    <div class="pb-4">
      <h3 class="text-2xl font-bold text-brand mt-10 mb-6 text-center">
        {post.chapter}
      </h3>
      <p class="text-center">
        <span class="mr-4">{post.source}</span>
        <span>{post.author}</span>
      </p>
      <PostContent content={post.paragraphs} indent />
    </div>
    <PrevNext {prev} {next} />
  </div>
</Layout>
