---
import Breadcrumb from '~/components/Breadcrumb.astro'
import PostContent from '~/components/PostContent.astro'
import PrevNext from '~/components/PrevNext.astro'
import { books, chuCi } from '~/config/books'
import { Books } from '~/config/site'
import Layout from '~/layouts/Layout.astro'
import { pervNext } from '~/supports'
import type { ChapterItem, PoetryItem } from '~/types'

export interface Props {
  post: PoetryItem
  index: number
}

export function getStaticPaths() {
  return chuCi.content.map((post, index) => ({
    params: { id: post.id },
    props: { post, index },
  }))
}

const book = books[Books.chuci]

const { title, id } = book
const { traditional } = Astro.props.post

const {
  title: postTitle,
  section,
  author,
  paragraphs,
} = traditional as ChapterItem & { section: string, author: string }

const { prev, next } = pervNext(
  getStaticPaths(),
  Astro.props.index,
  ({ params, props }) => ({
    text: props.post.title,
    link: `/${id}/${params.id}`,
  }),
)
---

<Layout title={postTitle}>
  <div class="py-6 px-5 md:px-10 pb-20">
    <Breadcrumb list={[{ text: title, active: true, link: `/${id}` }]} />
    <div class="pb-4">
      <h3 class="text-2xl font-bold text-brand mt-10 mb-6 text-center">
        {postTitle}
      </h3>
      <p class="flex justify-center items-center text-text-2">
        <span class="mr-4">[{author}]</span>
        <span>[{section}]</span>
      </p>
      <PostContent content={paragraphs} center />
    </div>
    <PrevNext {prev} {next} />
  </div>
</Layout>
