---
import Breadcrumb from '~/components/Breadcrumb.astro'
import PostContent from '~/components/PostContent.astro'
import PrevNext from '~/components/PrevNext.astro'
import datas from '~/database/chuci.json'
import Layout from '~/layouts/Layout.astro'
import { getPoetriesConfig, pervNext } from '~/supports'
import type { ChuCiItem } from '~/types'
import { slugify } from '~/utils'

export interface Props {
  post: ChuCiItem
  index: number
}

export function getStaticPaths() {
  return datas.content.map((post: ChuCiItem, index) => ({
    params: { title: slugify(post.title) },
    props: { post, index },
  }))
}

const poetry = getPoetriesConfig('chu-ci')!

const { title, id } = poetry
const { content, title: postTitle, section, author } = Astro.props.post

const { prev, next } = pervNext(
  getStaticPaths(),
  Astro.props.index,
  ({ params, props }) => ({
    text: props.post.title,
    link: `/${id}/${params.title}`,
  }),
)
---

<Layout title={postTitle}>
  <div class="py-6 px-5 md:px-10 pb-20">
    <Breadcrumb list={[{ text: title, active: true, link: `/${id}` }]} />
    <div class="pb-4">
      <h3 class="text-2xl font-bold text-brand mt-10 mb-6 text-center">
        {postTitle}
      </h3>
      <p class="flex justify-center items-center text-text-2">
        <span class="mr-4">[{author}]</span>
        <span>[{section}]</span>
      </p>
      <PostContent content={content} center />
    </div>
    <PrevNext {prev} {next} />
  </div>
</Layout>
