---
import Breadcrumb from '~/components/Breadcrumb.astro'
import PostAbstract from '~/components/PostAbstract.astro'
import { books, qianZiWen } from '~/config/books'
import { Books } from '~/config/site'
import Layout from '~/layouts/Layout.astro'
import type { ChapterItem } from '~/types'

const { title, abstract } = books[Books.qianziwen]
const {
  title: postTitle,
  paragraphs,
  author,
  tags,
} = qianZiWen.traditional as ChapterItem & {
  author: string
  tags: string
}

const words: [string, string][][] = [] // [spell, world][][]

paragraphs.forEach((paragraph, index) => {
  const spell = qianZiWen.spells[index].split(' ')
  const world = paragraph
    .split('')
    .map((w, i) => [spell[i], w] as [string, string])
  words.push(world)
})
---

<Layout title={title}>
  <div class="py-6 px-5 md:px-10">
    <Breadcrumb list={[{ text: title, active: true }]} />
    <PostAbstract class="max-w-3xl mx-auto" {title} {abstract} />
    <div class="pt-6 text-center max-w-4xl mx-auto">
      <h3 class="text-2xl font-bold text-brand mt-10 mb-4">
        {postTitle}
      </h3>
      <p class="flex justify-center items-center text-text-2 pb-6">
        <span class="mr-4">[{author}]</span>
        <span>[{tags}]</span>
      </p>
      <div
        class="post-content font-medium flex flex-wrap items-center justify-center -mx-4"
      >
        {
          words.map(word => (
            <div class="word-content">
              {word.map(([spell, letter]) => (
                <div class="word">
                  <p class="spell">{spell}</p>
                  <p class="my-0">{letter}</p>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style>
  .post-content .word-content {
    display: flex;
    align-items: center;
    margin: 0 1rem 1rem;
    line-height: 2rem;
  }
  .post-content .word {
    width: 2.5em;
    text-align: center;
  }
  .post-content .word .spell {
    margin: 0 0;
    color: var(--c-text-2);
    font-weight: normal;
    font-size: 14px;
  }
</style>
