---
import Breadcrumb from '~/components/Breadcrumb.astro'
import PostContent from '~/components/PostContent.astro'
import PrevNext from '~/components/PrevNext.astro'
import { books, shiJing } from '~/config/books'
import { Books } from '~/config/site'
import Layout from '~/layouts/Layout.astro'
import { pervNext } from '~/supports'
import type { ChapterItem, PoetryItem } from '~/types'
import { combine } from '~/utils'

export interface Props {
  post: PoetryItem
  index: number
}

export function getStaticPaths() {
  return shiJing.content.map((post, index) => ({
    params: { id: post.id },
    props: { post, index },
  }))
}

const book = books[Books.shijing]

const { title, id } = book
const { traditional } = Astro.props.post
const {
  title: postTitle,
  paragraphs,
  chapter,
  section,
} = traditional as ChapterItem & {
  section: string
  chapter: string
}

const { prev, next } = pervNext(
  getStaticPaths(),
  Astro.props.index,
  ({ params, props }) => ({
    text: props.post.title,
    link: combine(id, params.id),
  }),
)
---

<Layout title={title}>
  <div class="py-6 px-5 md:px-10 pb-20">
    <Breadcrumb list={[{ text: title, active: true, link: `/${id}` }]} />
    <div class="pb-4 text-center">
      <h3 class="text-2xl font-bold text-brand mt-10 mb-6">
        {postTitle}
      </h3>
      <p class="pb-4">
        <span class="mr-4">[{chapter}]</span>
        <span>[{section}]</span>
      </p>
      <PostContent content={paragraphs} />
    </div>
    <PrevNext {prev} {next} />
  </div>
</Layout>
