---
import AutoLink from '~/components/AutoLink.astro'
import { poetries } from '~/config/poetries'
import { siteTitle } from '~/config/site'
import Layout from '~/layouts/Layout.astro'
---

<Layout>
  <main class="home-wrapper px-6 pb-10">
    <h2 class="text-2xl font-bold tracking-widest text-brand mb-10">
      {siteTitle}
    </h2>
    <div class="content">
      {
        poetries.map((page) => (
          <div class="text-xl">
            <p>
              <AutoLink
                class="text-text-2"
                href={
                  page.items && page.items.length ? undefined : `/${page.id}`
                }
                text={`《${page.title}》`}
              />
            </p>
            {page.items ? (
              <div class="flex flex-wrap items-center pl-6 -mx-4">
                {page.items.map((item) => (
                  <p class="mx-4">
                    <AutoLink
                      class="text-text-2"
                      href={`/${item.id}`}
                      text={`《${item.title}》`}
                    />
                  </p>
                ))}
              </div>
            ) : null}
          </div>
        ))
      }
    </div>
  </main>
</Layout>
