---
import Breadcrumb from '~/components/Breadcrumb.astro'
import PostAbstract from '~/components/PostAbstract.astro'
import PostContent from '~/components/PostContent.astro'
import { books, daXue } from '~/config/books'
import { Books } from '~/config/site'
import Layout from '~/layouts/Layout.astro'

const { title, abstract } = books[Books.daxue]

const { title: postTitle, paragraphs } = daXue.traditional
---

<Layout title={title}>
  <div class="py-6 px-5 md:px-10">
    <Breadcrumb list={[{ text: title, active: true }]} />
    <PostAbstract class="max-w-3xl mx-auto" {title} {abstract} />
    <div class="pt-6 max-w-3xl mx-auto">
      <h3 class="text-2xl font-bold text-brand mt-10 mb-4">
        {postTitle}
      </h3>
      <PostContent content={paragraphs} indent />
    </div>
  </div>
</Layout>
